<% if @user.errors.any? %>
    <div style="color: red">
        <h2><%= pluralize(@user.errors.count, "error") %> </h2>

        <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>
