<div class="header">
    <div class="row">
        <div class="col-3">
            <%= link_to "Home", root_path %> 
        </div>
        <div class="col-6"></div>

        <div class="col-3">
            <% if logged_in?  %>
                <div class="row">
                    <div class="col-6">
                        <%= link_to current_user do %> 
                            <%= content_tag :span, current_user.name %>
                        <% end %>
                    </div>
                    <div class="col-6">
                        <%= link_to logout_path do %> 
                            Log out
                        <% end %>
                    </div>
                </div>
            <% else %>
                    <a href="/login""> 
                        <span> Login </span>
                    </a>
                </div>
            <% end %>
        </div>
    </div>
</div>